@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand: #ccff00;
  --color-darkBg: #0a0a0a;
  --color-cardBg: #111315;
  --font-oswald: var(--font-oswald); /* Next.js থেকে ফন্ট ভ্যারিয়েবল এখানে আসবে */
}

body {
  background-color: var(--color-darkBg);
  color: #ffffff;
}