@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand: #ccff00;
  --color-darkBg: #0a0a0a;
  --color-cardBg: #111315;
}

body {
  background-color: var(--color-darkBg);
  color: #ffffff;
}